@model OpeningHours    

@inject ISelectListService slSrvc




<div class="k-edit-label">
    <label asp-for="DayOfWeek"></label>
</div>

<div class="k-edit-field">
    <select class="form-select " asp-for="DayOfWeek" asp-items="slSrvc.DaysSL()">
        <option selected> Select Day</option>
    </select> 
</div>


<div class="k-edit-label">
    <label asp-for="OpeningTime" ></label>
</div>

<div class="k-edit-field">
    <input class="form-control fieldInput" asp-for="OpeningTime" />
</div>

<div class="k-edit-label">
    <label asp-for="ClosingTime" ></label>
</div>

<div class="k-edit-field">
    <input class="form-control fieldInput" asp-for="ClosingTime" />
</div>


@*<div id="additionalLanguagesContainer"></div>
<div class="k-edit-label"></div>
<div class="k-edit-field">
    <button class="k-button k-primary" id="addLanguageButton">Add Language</button>
</div>*@
