@model Outcome

<div class="container" >



    <br />
    <br />

    <div class="row mb-3">
        <div class="col-md-6">
            <label class="fieldLabel" asp-for="Title"></label>
            <input  class="form-control fieldInput"  asp-for="Title"/>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label class="fieldLabel" asp-for="Amount"></label>
            <input  class="form-control fieldInput" asp-for="Amount" />
        </div>
    </div>


    <div class="row mb-3">
        <div class="col-md-12">
            <label class="fieldLabel" asp-for="Description"></label>
            <textarea class="form-control fieldInput" asp-for="Description" />
        </div>
    </div>
 

</div>

