@addTagHelper *, Kendo.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers




<div class="container">
    <br />
    <center>
        <img src="~/siteimages/logoWithText.svg" />
        <br />

    </center>
    <br />
    <br />


    <h1 class="LoginTitle">Thank you for submitting your application</h1>
    <h2 class="LoginTitle">Check your e-mail to confirm your application</h2>




</div>






