@addTagHelper *, Kendo.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers




<div class="container">
    <br />
    <center>
        <img src="~/siteimages/logoWithText.svg" />
        <br />

    </center>
    <br />
    <br />


    <h1 class="LoginTitle">Thank you for confriming your application</h1>
    <h2 class="LoginTitle">Once the status of your application is updated, we will send you an E-mail</h2>
    <h2 class="LoginTitle">Check your e-mail to get your username and password</h2>




</div>






